.quiz-container {
  display: none;
  animation: fadeIn 1.8s ease-in-out;
}
.quiz-container.active {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 110%;
  justify-content: center;
}
.quiz-container #quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.quiz-container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.quiz-container .leftq #question {
  font-size: 1.3rem;
  color: #565355;
  height: 60px;
  line-height: 2rem;
}
.quiz-container .leftq h1 {
  color: #565355;
  font-size: 3.5rem;
  line-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3.5rem;
}
.quiz-container .leftq span {
  color: rgba(46, 108, 171, 1);
}

.quiz-container .leftq p {
  color: #3c4c4d;
  line-height: normal;
}
.quiz-container .rightq {
  width: 100%;
}
.quiz-container .rightq .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quiz-container .rightq .buttons button {
  height: 80px;
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #c4c7c5;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}

.quiz-container .option {
  display: block;
}

.quiz-container .letter-box {
  width: 50px;
  height: 50px;
  color: #c4c7c5;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 15px;
  font-size: 20px;
}
.quiz-container .buttons .choices {
  color: #565355;
  font-size: 17px;
}
.quiz-container .buttons button:hover {
  background: rgba(95, 90, 140, 1);
  cursor: pointer;
}

.quiz-container .buttons button:focus {
  outline: 0;
}

.quiz-container .progress-container {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  position: relative;
  border-radius: 15px;
}

.quiz-container #progress-bar {
  height: 100%;
  width: 0%;
  background-image: linear-gradient(
    90deg,
    rgba(237, 36, 49, 1) 0%,
    rgba(202, 49, 72, 1) 20%,
    rgba(95, 90, 140, 1) 43%,
    rgba(56, 104, 165, 1) 54%
  );
  transition: width 1s ease-in-out;
  border-radius: 15px;
}

.quiz-container .hidden {
  display: none;
}

.quiz-container .quiz-active {
  margin-left: 90px;
  width: 80%;
}

.quiz-container #score-container {
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, -50%);
  z-index: 1000;
  animation: fadeIn 2.4s ease-in-out;
}

.quiz-container #score-container h2 {
  color: #2e6cab;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.quiz-container #score {
  color: #2e6cab;
  font-size: 3.5rem;
  line-height: 4rem;
}

.quiz-container #buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-container #try-again,
.quiz-container #bonus-button {
  display: none;
  background-color: #2e6cab;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.quiz-container #try-again:hover,
.quiz-container #bonus-button:hover {
  background-color: rgba(56, 104, 165, 1);
}

.quiz-container #try-again:focus,
.quiz-container #bonus-button:focus {
  outline: none;
}
